.table-container {
  display: flex;
  flex-direction: column;
  height: 25rem;
  border-radius: 0.5rem;
  padding: 1rem;
  border: 0.2rem solid black;
}

.table-container:hover {
  box-shadow: inset 0 0 1rem 0rem rgb(62 102 250);
}

.path-layout {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  background-color: rgb(129, 129, 129);
}

.controller-name {
  font-size: 2rem;
  color: white;
}

.path-layout p {
  text-align: start;
  font-size: 1.5rem;
}