@font-face {
	font-family: Roboto;
	src: url('./assets/fonts/Roboto/Roboto-Black.ttf');
}

@font-face {
	font-family: Ubuntu;
	src: url(./assets/fonts/Ubuntu/Ubuntu-Regular.ttf);
}

:root {
	--grey: 				rgb(157, 157, 157);
	--dark-grey:		rgb(129, 129, 129);
	--blue:					#3366fa;
	--faded-black:	#282828;
	--page-shadow: 	rgb(0, 255, 68);
	--faded-white: 	#ececec;
}

* {
	margin: 0;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

html, body {
	box-sizing: border-box;
	overflow: auto;
}

.root-wrapper {
	color: var(--faded-black);
	display: grid;
	grid-template-columns: 40rem 1fr;
	grid-template-rows: 8rem 1fr;
	grid-template-areas:
		"sidebar header"
		"sidebar main";
  height: 100vh;
	background-color: var(--blue);
	font-size: 2rem;
	font-family: Ubuntu;
	padding: 1rem;
	box-shadow: inset 0rem 0rem 1.5rem var(--page-shadow);
}