.root-routes-container {
  display: flex;
  flex-direction: column;
  height: 25rem;
  border-radius: 0.5rem;
  padding: 1rem;
  border: 0.2rem solid var(--faded-black);
  margin: 0.5rem 0;
}

.children-wrapper {
  display: flex;
  flex-direction: column;
}

.route-name {
  height: 3.25rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2.25rem;
  color: var(--faded-white);
  background-color: var(--blue);
  margin-bottom: 0.5rem;
}

.col-names {
  font-size: 1.75rem !important;
  text-decoration: underline;
}

.child-element {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 1rem;
  height: 2.25rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--faded-black);
}

.child-element:nth-of-type(even) {
  background-color: var(--dark-grey);
}

.child:hover {
  box-shadow: inset 0 0 1rem 0rem var(--blue);
  cursor: pointer;
}

.child-element p {
  width: 30%;
}

.child p:last-child {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.active {
  background-color: var(--blue) !important;
}