.endpoints-container {
  display: flex;
  flex-direction: column;
}

.endpoint-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--grey);
  border-radius: 0.5rem;
  border: 0.2rem solid var(--faded-black);
}

.endpoint-name {
  height: 5rem;
  align-content: center;
  font-size: 3rem;
  font-weight: bold;
}

.endpoint-info {
  flex-grow: 1;
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  border: 1px solid var(--faded-black);
  margin-bottom: 0.5rem;
}

.endpoint-info div {
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.endpoint-info p {
  font-size: 1.75rem;
}

.endpoint-info p:last-child {
  font-size: 1.35rem;
}

.endpoint-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.endpoint {

}

.endpoint p {

}

