.page-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: .25rem;
}

.page-header {
  width: 20rem;
  height: 100%;
  border: 1px solid black;
  margin-right: 1rem; 
}

.page-content {
  flex-grow: 1;

}

.page-footer {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}