.sidebar-container {
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
  width: 30rem;
  border-right: .25rem solid rgb(157, 157, 157);
}

.page-name {
  height: 15rem;
  width: 100%;
  border-radius: 0.5rem;
  background-color:rgb(157, 157, 157);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.page-name p {
  font-size: 3rem;
}

.routes-element {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color:rgb(157, 157, 157);
  border-radius: 0.5rem;
}

.routes-list-container {
  font-size: .75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.path {
  border: 1px solid red;
}