.sidebar-container {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  border-right: .25rem solid var(--grey);
  padding-right: 1rem;
}

.page-name {
  height: 15rem;
  border-radius: 0.25rem;
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.routes-container {
  flex-grow: 1;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--grey);
  border-radius: 0.25rem;
}